#main-image{
  background: url("../../assets/home-images/main-background.png") no-repeat;
  background-size: cover;
  height: 100%;
  #scroll-down{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -40px;;
  }
}
